:root {
  --main-title-color: #212121;
  --main-after-title-color: #757575;
  --main-hero-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
}

/* -----------HEADER---------- */

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;
}
.logo-web {
  color: #2196f3;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-link:hover {
  color: #2196f3;
}
/* -----------HERO---------- */
.hero,
footer {
  background-color: var(--main-hero-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
button {
  font-family: inherit;
}

/* ----конкурентные примущества -----*/

.features-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-after-title-color);
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* ----примеры работ---- */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/* -----команда работников----- */

.team--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-after-title {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-after-title-color);
}
/* ----footer---- */
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo-studio {
  color: #ffffff;
}

/* -----Портфолио------ */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* -----картинки----- */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-after-title-color);
}
.portfolio-btn:hover {
  color: #ffffff;
}
